<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
    <property name="connection.url">jdbc:mariadb://localhost:3306/escuela</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.format_sql">true</property>

    <property name="hibernate.hbm2ddl.auto">create-drop</property>

    <mapping resource="Profesor.hbm.xml"/>
    <mapping resource="Modulo.hbm.xml"/>
    <mapping resource="Direccion.hbm.xml"/>
    <mapping resource="Correo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>